.Heading {
     display: flex;
     justify-content: center;
     align-items: center;
}

.Heading div {
    background-color: rgba(39, 39, 39, 0.274);
    height: 1px;
    width: 27vw;
}

.Heading p {
    margin: 3vmax;
    font-size: 2.5vmax;
    font-weight: 100;
    color: rgb(119, 118, 118);
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
}